h1{
    color: rgb(12, 34, 230);
    font-size: 55px;
    text-align: center;
    background-color: black;
}
p{
    background-color: rgb(245, 0, 0);
    font-size: 40px;
    color: hsla(0, 0%, 100%, 0.932)
    
    
}
.image1{
    text-align: center;

}
.imagemhorizontal{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.image2 {
    display: flex;
    justify-content: center
   
}
.image2 img{
    width: 300px;
    margin-right: 20px;
    margin-top: 20px;
    border: 10px;
}